body{
height: 3000px;
background: black;
color: white;
}
body div{
background: url(Home.jpeg);
background-size: cover;
width: 100%;
height: 25%;
text-align: center;
}
#hdr{
padding-top: 60%;
font-size: 30px;
}
#btn1{
border: none;
width: 50px;
background-color: lawngreen;
color: blue;
border-radius: 20%;
}
#btn2{
border: none;
width: 50px;
background-color: steelblue;
color: white;
border-radius: 20%;
}


